**/*.pyc
**/*.log
static/*
logfiles/*
cache/*
conf/dev/*
**/__pycache__
**/*.DS_Store
/.idea
/.vscode
/.env
/*.sqlite3
/docker-compose.yml
*.ipynb
/.ipynb_checkpoints
pigeon/django_initialer.py
data/*
django-requrement.txt
**/*.pickle
